/* slider css */
.mySlides {
  position: relative;
  height: 100vh;
}

.navbar-nav li a {
  text-decoration: none;
  color: white !important;
}
.other-page{
  background-color: green;
}
.nav-item .nav-link:hover {
  color: #1DB954 !important;
  font-weight: bold;
}
#footer ul li a:hover {
  color: #1DB954 !important;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

.mySlides img {
  height: 100%;
  object-fit: cover;
}

.mySlides:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.slider-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  width: auto;
  text-align: center;
}

.slider-caption h2 {
  font-size: 50px;
  font-weight: bold;
}

.slider-caption p {
  font-size: 20px;
}

.slider-caption a {
  border: 1px solid;
  color: #fff;
  padding: 10px 20px;
  display: table;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}

.slider-caption a:hover {
  background-color: #1DB954;
  border-color: #a3a3a3;
  color: #fff;
}

.caption-container p {
  margin: 0;
  padding: 8px;
}

.slider-section .column img {
  height: 80px;
  object-fit: cover;
}

.thumbnail-sec {
  width: 50%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

input,
select,
textarea {
  max-width: 100%;
}

/* footer css */
.footer {
  padding: 50px 0;
  background-color: #7b5d3e;
  color: #fff;
  text-align: center;
}

.footer .alo {
  font-size: 62px;
  font-weight: 600;
}

.social {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.social li {
  padding: 0 10px;
}

.social a i {
  color: #fff;
  font-size: 32px;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.toolbar-menu li a {
  color: black !important
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media(max-width: 767px) {

  .slider-section .column img {
    height: 50px;
  }

  .slider-caption {
    width: 80%;
  }

  .slider-caption h2 {
    font-size: 36px;
  }

  .mySlides img {
    object-position: right;
  }
}
.header{
  z-index: 9 !important;
}

.main-header {
  position: absolute;
  padding: 0px 0 30px 0;
  left: 0;
  right: 0;
}

#search:before {
  content: "\f002";
  top: 37px;
  position: absolute;
  right: 18px;
}

input,
#name :focus-visible {
  outline: green auto 1px !important;
  color: green;
}

.navbar-brand img {
  width: 100%;
  min-height: 100px;

}

#edit-submit:hover {
  background-color: #1DB954;
  color: #fff;
}

/* .form-search */
.layout-content {
  /* margin-top: 30px; */
  margin-bottom: 294px;
  position: relative;
  top: 168px;
}

.container-inline.js-form-wrapper.form-wrapper {
  margin-top: 100px;
  background-color: green;
  height: 100px;
  padding-top: 40px;
}

#edit-submit--3 {
  display: none;
}

@media screen and (max-width: 992px) {
  .footer-info {
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.fixed-top {
  background-color: #1DB954;
   top: unset !important;
}

.fixed-top .nav-item .nav-link:hover {
  color: yellow !important;
  font-weight: bold;
}

.fixed-top ul li a:before {
  background: yellow !important;
}

.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  transition: all 0.3s;
  background: #1DB954;
}

@media screen and (min-width: 992px) {
  .navbar .nav-item {
    margin-right: 20px;
  }
}

.navbar .nav-item .nav-link:hover:before {
  width: 100%;
}

.navbar .nav-item .nav-link:active:before {
  width: 100%;
}
/* .nav-item .dropdown-menu .nav-item .nav-link:hover{
  color: yellow !important;
} */
.fixed-top .navbar-expand-lg .navbar-nav .dropdown-menu{
  background-color: mediumseagreen;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: transparent;
  position: relative;
  padding: 8px;
}
.footer-content .toolbar-menu li a{
  color: #fff !important;
}
.footer-content a:hover{
  color: #1DB954 !important;
  font-weight: bold;
} 

@media screen and (max-width: 991px) {
  .header {
    background-color: #1DB954;
  }
  .navbar-nav{
    text-align: center;
  }
  .navbar .nav-item .nav-link:active:before {
    width: 0%;
  }
  .nav-item .nav-link:hover {
    color: #fff !important;
    font-weight: bold;
  }
  .fixed-top ul li a:hover {
    font-weight: bold;
    color: #fff !important;
  }
  
  .fixed-top ul li a:before {
    width: 0 !important;
  }
  .fixed-top .navbar-expand-lg .navbar-nav .dropdown-menu{
    background-color: mediumseagreen;
  }
}
