{#
/**
* @file
* Default theme implementation to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
* "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
* administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
* linking to the front page. This includes the language domain or prefix.
*
* Page content (in order of occurrence in the default page.html.twig):
* - messages: Status and error messages. Should be displayed prominently.
* - node: Fully loaded node, if there is an automatically-loaded node
* associated with the page and the node ID is the second argument in the
* page's path (e.g. node/12345 and node/12345/revisions, but not
* comment/reply/12345).
*
* Regions:
* - page.header: Items for the header region.
* - page.primary_menu: Items for the primary menu region.
* - page.secondary_menu: Items for the secondary menu region.
* - page.highlighted: Items for the highlighted content region.
* - page.help: Dynamic help text, mostly for admin pages.
* - page.content: The main content of the current page.
* - page.sidebar_first: Items for the first sidebar.
* - page.sidebar_second: Items for the second sidebar.
* - page.footer: Items for the footer region.
* - page.breadcrumb: Items for the breadcrumb region.
*
* @see template_preprocess_page()
* @see html.html.twig
*
* @ingroup themeable
*/
#}
<div class="layout-container">

  <header id="header" class="header d-flex align-items-center main-header {% if other_page %} other-page {% endif %}">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light .bg-transparent">
        <div class="container">
            {{ page.logo  }}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse  justify-content-end m-auto" id="navbarNavDropdown">
            {{ page.main_nav }}
          </div>
        </div>
        <div class"align-items-end d-flex">
        </div>
      </nav>
    </div>
  </header>
  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {% if front_p %}
    <!-- Start: Slider Section -->
    <section class="slider-section">
      {% if show_slideshow %}
      <div class="container-fluid p-0">
        {% for slider_contents in slider_content %}
          {{ slider_contents | raw }}
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
      </div>
      {% endif %}
    </section>
    <!-- End: Slider Section -->
    {% endif %}
   <div class="layout-content">
   <div class="container">
      {{ page.content }}
    </div>
   </div>
   {% if page.sidebar_first %}
    <aside class="layout-sidebar-first" role="complementary">
      {{ page.sidebar_first }}
    </aside>
   {% endif %}
   {% if page.sidebar_second %}
    <aside class="layout-sidebar-second" role="complementary">
      {{ page.sidebar_second }}
    </aside>
   {% endif %}
  </main>
  <footer id="footer" class="footer">
    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              {% if page.footer_block %}
                {{ page.footer_block }}
              {% endif %}
              {% if show_social_icons %}
                <div class="social-links d-flex mt-3">
                  {% if twitter_url %}
                  <a href="{{ twitter_url }}" class="d-flex align-items-center justify-content-center"><i
                      class="fab fa-twitter"></i></a>
                  {% endif %}
                  {% if facebook_url %}
                  <a href="{{ facebook_url }}" class="d-flex align-items-center justify-content-center"><i
                      class="fab fa-facebook"></i></a>
                  {% endif %}
                  {% if instagram_url %}
                  <a href="{{ instagram_url }}" class="d-flex align-items-center justify-content-center"><i
                      class="fab fa-instagram"></i></a>
                  {% endif %}
                  {% if linkedin_url %}
                  <a href="{{ linkedin_url }}" class="d-flex align-items-center justify-content-center"><i
                      class="fab fa-linkedin"></i></a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div><!-- End footer info column-->
          <div class="col-lg-2 col-md-3 footer-links">
            {% if page.footer_nav1 %}
              {{ page.footer_nav1 }}
            {% endif %}
          </div><!-- End footer links column-->
          <div class="col-lg-2 col-md-3 footer-links">
            {% if page.footer_nav2 %}
              {{ page.footer_nav2 }}
            {% endif %}
          </div><!-- End footer links column-->
          <div class="col-lg-2 col-md-3 footer-links">
            {% if page.footer_nav3 %}
              {{ page.footer_nav3 }}
            {% endif %}
          </div><!-- End footer links column-->
          <div class="col-lg-2 col-md-3 footer-links">
            {% if page.footer_nav4 %}
              {{ page.footer_nav4 }}
            {% endif %}
          </div><!-- End footer links column-->
        </div>
      </div>
    </div>
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          {% if show_copyright %}
          {% if copyright_text %}
          <span id="displayYear">{{ 'now' | date('Y') }}</span> {{ copyright_text }}
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </footer>
</div>